* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(216, 246, 252);
}

/* Navbar */

.navContainer {
    padding: 5px 150px;
    position: sticky;
    top: 0px;
    height: 70px;
    width: 100%;
    background-color: rgb(115, 115, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer > div {
    cursor: pointer;
}

.icon {
    color: white;
}

.imgicon {
    height: 25px;
}
.belowText {
    display: flex;
}

.belowText img {
    height: 13px;
}

.search {
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.searchIcon {
    height: 30px;
    width: 30px;
    background-color: white;
}

.searchIcon span {
    padding: 3px;
    cursor: pointer;
}

.search input {
    padding-left: 10px;
    height: 30px;
    width: 100%;
    font-size: 14px;
}

.loginButton {
    width: 150px;
    height: 29px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}

.more , .cart{
    color: white;
    display: flex;
    align-items: center;
}


/* Body */

.body {
    display: flex;
    background-color: white;
    padding: 10px;

}


.button {
    height: 50px;
    width: 200px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons {
    display: flex;
    justify-content: space-between;
}

.product img {
    height: 500px;
}

/* Description */

a{
    text-decoration: none;
}

.rightOne {
    padding: 5px;
}

.desc {
    padding: 10px;
    width: calc(100vw - 500px);
    line-height: 40px;
}

.price span {
    margin-right: 10px;
}

.ratingline {
    display: flex;
    align-items: center;
}

.ratingline > span {
    margin-right: 10px;
}

.ratingline img {
    height: 20px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 50px;
    background-color: rgb(2, 161, 2);
    color: white;
    border-radius: 30px;
}

.offers {
    display: flex;
    align-items: center;
}

.offers span {
    margin-right: 10px;
}

.delivery {
    display: flex;
    justify-content: space-between;
}

.pincode {
    border-bottom: 2px solid blue;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.dicon {
    display: flex;
    align-items: center;
}

.dicon span {
    margin-left: 10px;
}

.pincode input {
    border-style: none;
}

.pincode input:focus {
    outline: none;
}

.dright {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.return {
    display: flex;
    flex-direction: column;
}

.dtime {
    margin: 20px 0px;
    line-height: 20px;
}

.size {
    margin-top: 40px;
    display: flex;
}

.size h3 {
    margin: 0px 0px 0px 10px;
    padding: 1px 15px;
    border: 1px solid black;

}

.seller {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    
}

.seller > span {
    margin: 0px 10px 0px 0px;
}

.sellerRating {
    background-color: blue;
}

.details {
    padding: 30px;
}

.moreDetails {
    margin-top: 30px;
    display: flex;

}

.nobullets {
    list-style-type: none;
    padding: 0px;
}

.type {
    color: gray;
    margin-right: 100px;

    font-size: 16px !important; 
    line-height: 40px !important;
}

/* Footer */

.footer {
    background-color: #182336;
    color: white;
}

.top {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.list {
    line-height: 18px;
}

.list span {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    color: gray;

}

.nobullets {
    list-style-type: none;
    padding: 0px;
    font-size: 13px;
    line-height: 25px;
}

.list p {
    font-size: 13px;
    

}

.mailus {
    margin-right: -30px;
    margin-left: 60px;
}

.mailus span {
    padding-bottom: 15px;
}

.mailus span, .mailus p {
    margin-bottom: 0px !important;
    padding-left:25px ;
    border-left: 1px solid grey;
}

.bottom {
    padding: 20px 0px ;
    display: flex;
    justify-content: space-evenly;
}